.format{

            padding: 15px;
            background-color:lightblue;
            border: 2px dashed #ff9900;
            margin: 10px 0; 
              font-family:cursive, sans-serif;
        }
        
 .index-box {
            padding: 15px;
            background-color:lightblue;
            border: 2px dashed #ff9900;
            margin: 10px 0; 
              font-family:cursive, sans-serif;
        }
